@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@500&family=Playfair+Display:wght@600&family=Poppins:ital,wght@0,400;1,300&display=swap');
*{
  
  margin: 0;
  padding: 0;
  font-family: 'Edu NSW ACT Foundation', cursive;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* //navbar css */
.navbar {
  background-color: aquamarine;
  font-family: "Playfair", cursive;
  font-size: 17px;
  line-height: 26px;
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px rgb(47, 128, 182);
  --webkit-box-shadow: 0 8px 6px -6px rgb(32, 160, 219);
  border-bottom: solid rgb(7, 184, 238) !important;
}

.nav-link {
  font-weight: 300 !important;
  
}

.active {
  border-bottom: 2px solid black;
}

.navbar-brand {
  font-weight: 700;
  font-family: "roboto", sans-serif;
  letter-spacing: 3px;
}

.search-form {
  margin-right: 10px;
  margin-top: 4px;
}
.search-form input {
  border: none;
  border-radius: 0;
}
.search-form button {
  background-color: #000000;
  border-radius: 0;
  color: rgb(13, 212, 40);
}

/* footer */

.footer-dark {
  padding: 50px 0;
  color: #f0f9ff;
  background-color: #03011b;
}

.footer-dark h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 18px;
}

.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 16px;
  margin-bottom: 0;
}

.footer-dark ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
}

.footer-dark ul a:hover {
  color: rgb(18, 184, 142);
  opacity: 0.9;
}

/* @media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
} */

.footer-dark .item.text {
  margin-bottom: 36px;
}

/* @media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
} */

.footer-dark .item.text p {
  opacity: 0.6;
  margin-bottom: 0;
}

.footer-dark .item.social {
  text-align: center;
}

/* 
@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
} */

.footer-dark .item.social > a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
  margin: 0 8px;
  color: #fff;
  opacity: 0.75;
}

.footer-dark .item.social > a:hover {
  opacity: 0.9;
  color: aqua;
  background-color: aquamarine;
}

.footer-dark .copyright {
  text-align: center;
  padding-top: 24px;
  opacity: 0.3;
  font-size: 13px;
  margin-bottom: 0;
}
/* page not found */
.pnf{
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items:center;
  justify-content:center;

}

.png_title{
  font-size:100px;
  font-weight:700;
}
.pnf-heading{
  font-weight: bolder;

}
 /* sign up */
.signup-content{
  display: flex;
  box-shadow: turquoise;
  background-origin: border-box;
}
.from-title{
  color: aqua;
  display: inline-flex;
  padding-bottom: 10%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
}

/* sign in */
/* Style for container and section */
.signin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 800px;
  
}
.signin-content{
  display: flex;
}

/* Style for image and login form */
.signin-image {
  width: 50%;
  margin-right: 20%;
}

.signup-form {
  width: 50%;
}

/* Style for headline */
.from-title {
  text-align: center;
}

/* Style for form group */
.form-group {
  position: relative;
  margin-bottom: 20px;
}

.form-group label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: #999;
}

/* Style for input field */
input {
  font-size: 16px;
  padding: 10px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #999;
  outline: none;
}

input:focus {
  border-bottom: 1px solid #007bff;
}

/* Style for form button */
.form-button {
  text-align: center;
}

.form-submit {
  background-color: #007bff;
  color: #fff;
  font-size: 18px;
  padding: 10px 30px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.form-submit:hover {
  background-color: #0069d9;
}
